@{
	ViewData["Title"] = "Home Page";
	//Layout = "~/Views/Shared/_LayoutProfessorAdicionaNovoCurso.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region SCRIPTS LINKS -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="~/cssProfessorCriaNovoCurso/StyleProfessorAdicionaNovoCurso.css" />
	<title>EFacil Cursos | Cadastrar Curso</title>
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	@*<script src="~/jsProfessorAdicionaNovoCurso/ScriptProfessorAdicionaNovoCurso.js"></script>*@
	<!-- #endregion -->
</head>
<body>
	@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div align="center" class="create-course-container">
			<h1 class="display-4"><i class="fas fa-search"></i> Buscar Produto</h1>
		</div>
		<br />
		<div class="input-group margin">
			<input type="text" name ="produtoPesquisado"class="form-control">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-info btn-flat">Pesquisar</button>
			</span>
		</div>
		@section Scripts {
			@*<script src="~/jsProfessorAdicionaNovoCurso/ScriptProfessorAdicionaNovoCurso.js"></script>*@
			@*<script src="~/jsProfessorAdicionaAula/ScriptFileAttachmentPlugin.js"></script>*@
		}
	}
</body>
</html>