@{
	ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region SCRIPTS LINKS -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
	<title>Produtos | Pesquisar</title>
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div align="center" class="create-course-container">
			<h1 class="display-4"><i class="fas fa-search"></i> Buscar Produto</h1>
		</div>
		<br />
		<div class="input-group margin">
			<input type="text" name="produtoPesquisado" class="form-control">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-info btn-flat">Pesquisar</button>
			</span>
		</div>
		<div class="row product-container">
			@if (ViewBag.ProdutosLista != null)
			{
				foreach (var listaDeProdutos in ViewBag.ProdutosLista)
				{
					<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
						<div class="thumbnail product-item" style="height:100%">
							<hr />
							<img class="img-responsive" title="Ver detalhes"
								 style="cursor:pointer; height:160px; width:260px" src="@listaDeProdutos.imagemProduto" />
							<div class="caption">
								<h5>@listaDeProdutos.nomeProduto</h5>
								<p>@listaDeProdutos.descricaoProduto</p>
							</div>
						</div>
					</div>
				}
			}
			else
			{
				<br />
				<h3>Sem produtos pesquisados</h3>
			}
		</div>
	}
</body>
</html>